<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Station</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.6.2/dist/chart.min.js"></script>
    <link rel="icon" href="data:;base64,="> <!-- Do not load any favicon -->
</head>
<body>
    <div> 
        <canvas id="tempChart" width="600" height="200"></canvas>
        <canvas id="pressureChart" width="600" height="200"></canvas>
        <canvas id="lightChart" width="600" height="200"></canvas>
        <canvas id="waterChart" width="600" height="200"></canvas>

        <script type="text/javascript" src="{{ url_for('static', filename='temperature.js') }}" ></script>
        <script type="text/javascript"> 
            init_temp({{ labels_t | safe }}, {{ temperature | safe }}, {{ humidity | safe }});
        </script>

        <script type="text/javascript" src="{{ url_for('static', filename='pressure.js') }}" ></script>
        <script type="text/javascript"> 
            init_temp({{ labels_p | safe }}, {{ pressure | safe }},);
        </script>

        <script type="text/javascript" src="{{ url_for('static', filename='light.js') }}" ></script>
        <script type="text/javascript"> 
            init_temp({{ labels_p | safe }}, {{ pressure | safe }},);
        </script>

        <script type="text/javascript" src="{{ url_for('static', filename='water.js') }}" ></script>
        <script type="text/javascript"> 
            init_temp({{ labels_p | safe }}, {{ pressure | safe }},);
        </script>
    </div> 
</body>
</html>
