<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Station</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.6.2/dist/chart.min.js"></script>
</head>
<body>
    <div> 
        <canvas id="tempChart" width="600" height="200"></canvas>
        <script src="{{ static/temperature.js }}"> init_temp({{ labels_t | safe }}, {{ temperature | safe }}, {{ humidity | safe }})</script>
    </div> 
    <div> 
        <canvas id="pressureChart" width="600" height="200"></canvas>
        <script>
            const ctx2 = document.getElementById('pressureChart').getContext('2d');
            const lineChart = new Chart(ctx2, {
                type: "line",
                data: {
                    labels: {{ labels_p | safe }},
                    datasets: [
                        {
                            label: "Pressure",
                            data: {{ pressure | safe }},
                            fill: false,
                            borderColor: "rgb(255, 99, 132)",
                            lineTension: 0.1
                        }
                    ]
                },
                options: {
                    responsive: false,
                    plugins: {
                        legend: {
                            position: 'right'
                        },
                        title: {
                            display: true,
                            text: 'Pressure'
                        }
                    }
                }
            });
        </script>
    </div> 
</body>
</html>
